<a href="#/detail/{{id}}"
   class="sentiment{{#if isSentimentCool}} sentiment--cool{{/if}}{{#if isSentimentNotCool}} sentiment--bad{{/if}} tag tag--size{{fontSize}}"
   title="{{sentimentScore}}">{{label}}</a>
