body {
  font-family: Calibri, Helvetica, Arial, sans-serif;
  overflow: hidden;
}





a {
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: underline;
}




.t--centered {
  text-align: center;
}





.col__primary, .col__secondary {
  box-sizing: border-box;
  float: left;
  padding: 0 1em;
}
.col__primary {
  width: 100%;
}
.col__primary--shrinked {
  width: 75%;
}
.col__secondary {
  transform: translateX(100%);
  width: 25%;
}
.col__secondary--visible {
  transform: translateX(0);
  transition: 0.15s ease-in;
}
.col--last:after {
  clear: both;
  content: "";
  display: table;
}




.header {
  background-color: #4ECDC4;
  margin-bottom: 2.5em;
  padding: 0.75em 1.25em;
}
.header__title {
  color: #FFF;
  letter-spacing: 0.075em;
  margin: 0;
}





.sentiment {
  color: #556270;
}
.sentiment--cool {
  color: #7FC7AF;
}
.sentiment--bad {
  color: #FF3D7F;
}





.tag {
  font-weight: bold;
  padding: 0 0.25em;
}
.tag--size1 {
  font-size: 0.75em;
}
.tag--size2 {
  font-size: 1em;
}
.tag--size3 {
  font-size: 1.25em;
}
.tag--size4 {
  font-size: 1.75em;
  padding: 0 0.5em;
}
.tag--size5 {
  font-size: 2em;
  padding: 0 0.5em;
}
.tag--size6 {
  font-size: 2.5em;
  padding: 0 0.5em;
}





.spotlight {
  border: 3px solid #3FB8AF;
  border-radius: 0 1em 1em 1em;
  margin: 0 1em;
}
.spotlight__title {
  margin: 0;
  padding: 1em;
  background: #3FB8AF;
  color: #FFF;
}
.spotlight__content {
  padding: 0 1em;
}
